
  body{
    align-items: center;
    justify-content: center;
  background-color: azure;
  
  }
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
  }
  
  /* Estilo do título do formulário */
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilo das bordas e preenchimento dos campos do formulário */
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Estilo do botão de envio */
  .btn-submit {
    background-color: #007bff;
    color: #fff;
    width: 100%;
  }
  
  /* Estilo do rodapé */
  footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin-right: 5px;
  }
  
  .social-icons a:hover {
    color: #ccc;
  }
  
  