body {
  background-color: #f8f9fa;
}
.navbar {
z-index: 999;
}

.carousel-control-prev,
.carousel-control-next {
background-color: rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
bottom: 10px;
}

.card-img-top {
height: 300px;
object-fit: cover;
}

.modal-dialog {
max-width: 600px;
}

.modal-body img {
width: 100%;
height: auto;
}

#sobre {
margin-top: 50px;
}




body {
  margin: 0;
  padding: 0;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  margin-right: 5px;
}

.social-icons a:hover {
  color: #ccc;
}
.destaque {
  font-weight: bold;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(119, 119, 119); padding: 5px;
  border-radius: 50px;
  text-align: center;
}
